.payment-page {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #be9661;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#payment-info p {
    font-size: 15px;
    margin: 10px 0;
    color: #555;
}

.backbtn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.backbtn:hover {
    background-color: rgb(240, 236, 232);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.spinner {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(172, 128, 48);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
